<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "me.ginga.lktfapp"
        versionCode = ""
        version     = "0.1" >

	<name>LKTF Helfer-App</name>

	<description>Die offizielle Helfer-App zum Landeskinderturnfest 2018 in Gie&#223;en!</description>

	<author href="https://turnjugend-frankfurt.de" email="m.caspar@live.de">Marcel Caspar</author>

	<gap:platform name="ios" />
	
	<!-- General preferences -->
	<preference name="permissions" value="none"/>

	<preference name="DisallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- PhoneGap plugin declaration -->
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />

	<!-- SplashScreen configuration -->
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="FadeSplashScreenDuration" value="1000" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>

	<!-- Icons and Splashscreens declaration -->

	<icon src="icons/Icon-App-20x20@1x.png" gap:platform="ios" width="20" height="20" />
	<icon src="icons/Icon-App-20x20@2x.png" gap:platform="ios" width="40" height="40" />
	<icon src="icons/Icon-App-20x20@3x.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/Icon-App-29x29@1x.png" gap:platform="ios" width="29" height="29" />
	<icon src="icons/Icon-App-29x29@2x.png" gap:platform="ios" width="58" height="58" />
	<icon src="icons/Icon-App-29x29@3x.png" gap:platform="ios" width="87" height="87" />
	<icon src="icons/Icon-App-40x40@1x.png" gap:platform="ios" width="40" height="40" />
	<icon src="icons/Icon-App-40x40@2x.png" gap:platform="ios" width="80" height="80" />
	
	<icon src="icons/Icon-App-40x40@3x.png" gap:platform="ios" width="120" height="120" />
	<icon src="icons/Icon-App-57x57@1x.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/Icon-App-60x60@1x.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/Icon-App-60x60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="icons/Icon-App-60x60@3x.png" gap:platform="ios" width="180" height="180" />
	<icon src="icons/Icon-App-72x72@1x.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/Icon-App-72x72@2x.png" gap:platform="ios" width="144" height="144" />
	<icon src="icons/Icon-App-76x76@1x.png" gap:platform="ios" width="76" height="76" />
	
	
	<icon src="icons/Icon-App-76x76@2x.png" gap:platform="ios" width="152" height="152" />
	<icon src="icons/Icon-App-76x76@3x.png" gap:platform="ios" width="228" height="228" />
	<icon src="icons/Icon-App-83.5x83.5@2x.png" gap:platform="ios" width="167" height="167" />
	<icon src="icons/Icon-Small-50x50@1x.png" gap:platform="ios" width="50" height="50" />
	<icon src="icons/Icon-Small-50x50@2x.png" gap:platform="ios" width="100" height="100" />
	<icon src="icons/ItunesArtwork@2x.png" gap:platform="ios" width="1024" height="1024" />
	

	
	
	
	<gap:splash src="DefaultLandscapeiPhone5.png" gap:platform="ios" />
	<gap:splash src="splashscreens/Default-736h-Lanscape@3x~iphone.png" gap:platform="ios" width="2208" height="1242" />
	<gap:splash src="splashscreens/Default-736h-Portrait@3x~iphone.png" gap:platform="ios" width="1242" height="2208" />
	<gap:splash src="splashscreens/Default-667h-Landscape@2x~iphone.png" gap:platform="ios" width="1334" height="750" />
	<gap:splash src="splashscreens/Default-667h-Portrait@2x~iphone.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="splashscreens/Default-568h-Landscape@2x~iphone.png" gap:platform="ios" width="1136" height="640" />
	<gap:splash src="splashscreens/Default-568h-Portrait@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splashscreens/Default-Landscape@2x~iphone.png" gap:platform="ios" width="960" height="640" />
	<gap:splash src="splashscreens/Default-Portrait@2x~iphone.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splashscreens/Default-Landscape~iphone.png" gap:platform="ios" width="480" height="320" />
	<gap:splash src="splashscreens/Default-Portrait~iphone.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splashscreens/DefaultLandscapeiPhone5.png" gap:platform="ios" width="320" height="568" />
	
</widget>
