<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" lang="de" />
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/common.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/post-list.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/post-detail.css') %>">


<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/web/assets/mobirise-icons/mobirise-icons.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/tether/tether.min.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/bootstrap/css/bootstrap-grid.min.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/bootstrap/css/bootstrap-reboot.min.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/theme/css/style.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('assets/mobirise/css/mbr-additional.css') %>" type="text/css">
