<div id="login-page" class="mbr-section form1 cid-qNvW8BGtKm">
    <!--
    <h1>Log in</h1>
    <div id="single-content">
            You must log in to see this post.<br><br>

            <form>
                <div class="form-group">
                    <label for="user-login">Login</label>
                    <input type="text" class="form-control" id="user-login" placeholder="Login">
                </div>
                <div class="form-group">
                    <label for="user-pass">Password</label>
                    <input type="password" class="form-control" id="user-pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">Log in</button>
            </form>


    </div>
    -->

    <link href="<%= TemplateTags.getThemeAssetUrl('assets/meldezentrale/bootstrap.min.css') %>" rel="stylesheet" id="bootstrap-css">
    <script src="<%= TemplateTags.getThemeAssetUrl('assets/meldezentrale/bootstrap.min.js') %>"></script>
    <script src="<%= TemplateTags.getThemeAssetUrl('assets/meldezentrale/jquery-1.11.1.min.js') %>"></script>

    <section class="mbr-section form1 cid-qNvW8BGtKm" id="form1-1a">




        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-12 col-lg-8">
                    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" width="75" src="<%= TemplateTags.getThemeAssetUrl('img/Logo-LKTF18.png') %>">
                    <h2 class="">Login</h2>
                        Um die App nutzen zu können musst du dich einloggen. Die Anmeldedaten hast du per Mail zugeschickt bekommen.
                    <br>
                    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                        Durch das Einloggen erklärst du dich unseren Datenschutzvereinbarungen einverstanden. Weitere Informationen zum Theme Datenschutz unter
                        <a href="#" onclick="window.open('https://www.htv-online.de/datenschutz/')">https://www.htv-online.de/datenschutz/</a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Vielen Dank! Ihre Nachricht wurde verschickt!</div>

                    <form class="mbr-form" data-form-title="Mobirise Form">

                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="user-login">Email-Addresse</label>
                                    <br>
                                    <input type="text" class="form-control" required="" id="user-login">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="user-pass">Passwort</label>
                                    <input type="password" class="form-control" required="" id="user-pass">
                                </div>
                            </div>

                        </div>


                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4 form-control">SENDEN</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </section>








</div>